/course_config.toml
/osa08-01_pienin_keskiarvo
/osa08-02_rivien_summmat
/osa08-03_vuodet_listaan
/osa08-04_kauppalista
/osa08-06_kirja
/osa08-07b_muodosta_lemmikki
/osa08-07_kirjoita_luokat
/osa08-08_vanhempi_kirja
/osa08-09_genren_kirjat
/osa08-10b_etu_ja_sukunimi
/osa08-10_vaheneva_laskuri
/osa08-11a_sekuntikello
/osa08-11_lukutilasto
/osa08-12_kello
/osa08-13_maksukortti
/osa08-14_sarja
/osa09-01_nopein_auto
/osa09-02_hyvaksytyt_suoritukset
/osa09-03_kasvatuslaitos
/osa09-04_maksukortti_ja_kassapaate
/osa09-05_asuntovertailu
/osa09-06_lemmikki
/osa09-07_lahjapakkaus
/osa09-08_huoneen_lyhin
/osa09-09_auto
/osa09-10_aanite
/osa09-11_havaintoasema
/osa09-12_palvelumaksu
/osa09-13_postinumerot
/osa09-14_lista_apuri
/osa09-15_tavara_matkalaukku_lastiruuma
/osa10-01_kannettava_tietokone
/osa10-02_pelimuseo
/osa10-03_pinta_alat
/osa10-04_sanapeli
/osa10-05_superryhma
/osa10-06_salainen_taikajuoma
/osa10-07_raha
/osa10-08_paivays
/osa10-09_iteroitava_kauppalista
/osa10-10_puhelinluettelo_osa1
/osa10-11_puhelinluettelo_osa2
/osa10-12_opintorekisteri
/osa11-01_neliojuuret
/osa11-02_tahtirivit
/osa11-03_paras_koetulos
/osa11-04_pituudet
/osa11-05_poista_pienemmat
/osa11-06_vokaalilla_alkavat
/osa11-07_lottorivi
/osa11-08_suodata_kielletyt
/osa11-09_kauppalistan_tuotteet
/osa11-10_halvempien_hintaero
/osa11-11_merkkijonojen_pituudet
/osa11-12_yleisimmat_sanat
/osa11-13_listaan_lukuja
/osa11-14_rekursiivinen_summa
/osa11-15_sulut_tasapainossa
/osa11-16_suurin_alkio
/osa11-17_pomot_ja_alaiset
/osa11-18_tilauskirja
/osa11-19_tilauskirjasovellus
/osa12-01_varastosaldo
/osa12-02_tuotantokaudet
/osa12-03_pisteiden_mukaan
/osa12-04_kiipeilyreitti
/osa12-05_kiipeilykalliot
/osa12-06_palloilijat
/osa12-07_tuotteiden_haku
/osa12-08_parilliset
/osa12-09_alkuluvut
/osa12-10_satunnaiset_sanat
/osa12-11_suoritukset
/osa12-12_rajatut_suoritukset
/osa12-13_opintopisteet
/osa12-14_saannolliset_lausekkeet
/osa12-15_tilastot_ojennukseen